---
import { home } from "@/config/routes";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Fehler">
  <div id="error" class="grow bg-blue-100">
    <div class="container py-40">
      <main class="space-y-8">
        <span class="text-2xl font-bold">404</span>
        <h1>Seite konnte nicht gefunden werden</h1>
        <p>
          Es tut uns leid. Diese Seite gibt es nicht mehr oder ihr Name wurde
          geändert.
        </p>
        <ul>
          <li>
            Wenn Sie die URL direkt eingegeben haben, überprüfen Sie die
            Schreibweise.
          </li>
          <li>
            Versuchen Sie, die Seite von der Startseite aus erneut zu finden.
          </li>
        </ul>
        <div class="mt-32">
          <a class="ds-button" id="error-back-button" href={home.path}>
            Zurück zur Startseite
          </a>
        </div>
      </main>
    </div>
  </div>
</Layout>
