---
import Layout from "@/layouts/Layout.astro";

const title = "Modernisierung der Architektur";
---

<Layout title={title}>
  <main>
    <div class="bg-blue-100">
      <div class="container py-40 ds-stack ds-stack-16 pb-48">
        <h1 class="ds-heading-01-reg">{title}</h1>
        <ol>
          <li>Migration der Digitalcheck-Website von React Router zu Astro.</li>
          <li>Migration der Contents von Strapi in die Codebase</li>
        </ol>
      </div>
    </div>

    <div class="container py-80">
      <section class="ds-stack ds-stack-8">
        <ul class="list-unstyled info-box ds-stack ds-stack-32 mt-32">
          <li class="border-0 border-b-2 border-solid border-gray-400 pb-40">
            <div class="flex scroll-my-40 flex-col gap-32 md:flex-row">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                aria-hidden="true"
                focusable="false"
                class="hidden size-80 fill-blue-500 sm:block"
              >
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M16.66 4.52l2.83 2.83-2.83 2.83-2.83-2.83 2.83-2.83M9 5v4H5V5h4m10 10v4h-4v-4h4M9 15v4H5v-4h4m7.66-13.31L11 7.34 16.66 13l5.66-5.66-5.66-5.65zM11 3H3v8h8V3zm10 10h-8v8h8v-8zm-10 0H3v8h8v-8z"
                ></path>
              </svg>
              <div class="ds-stack ds-stack-16 grow wrap-break-word">
                <h3 class="ds-heading-03-reg">
                  Austauschbare Komponenten zwischen ZfL und DC
                </h3>
                <p>
                  ZfL und DC verwenden die gleiche Architektur: Für ZfL
                  entwickelte Komponenten können problemlos im DC verwendet
                  werden und umgekehrt. Eine zukünftige Zusammenführung beider
                  Websites wird erheblich erleichtert.
                </p>
              </div>
            </div>
          </li>

          <li class="border-0 border-b-2 border-solid border-gray-400 pb-40">
            <div class="flex scroll-my-40 flex-col gap-32 md:flex-row">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                aria-hidden="true"
                focusable="false"
                class="hidden size-80 fill-blue-500 sm:block"
              >
                <g>
                  <rect fill="none" height="24" width="24"></rect>
                  <path
                    d="M15.1,19.37l1,1.74c-0.96,0.44-2.01,0.73-3.1,0.84v-2.02C13.74,19.84,14.44,19.65,15.1,19.37z M4.07,13H2.05 c0.11,1.1,0.4,2.14,0.84,3.1l1.74-1C4.35,14.44,4.16,13.74,4.07,13z M15.1,4.63l1-1.74C15.14,2.45,14.1,2.16,13,2.05v2.02 C13.74,4.16,14.44,4.35,15.1,4.63z M19.93,11h2.02c-0.11-1.1-0.4-2.14-0.84-3.1l-1.74,1C19.65,9.56,19.84,10.26,19.93,11z M8.9,19.37l-1,1.74c0.96,0.44,2.01,0.73,3.1,0.84v-2.02C10.26,19.84,9.56,19.65,8.9,19.37z M11,4.07V2.05 c-1.1,0.11-2.14,0.4-3.1,0.84l1,1.74C9.56,4.35,10.26,4.16,11,4.07z M18.36,7.17l1.74-1.01c-0.63-0.87-1.4-1.64-2.27-2.27 l-1.01,1.74C17.41,6.08,17.92,6.59,18.36,7.17z M4.63,8.9l-1.74-1C2.45,8.86,2.16,9.9,2.05,11h2.02C4.16,10.26,4.35,9.56,4.63,8.9z M19.93,13c-0.09,0.74-0.28,1.44-0.56,2.1l1.74,1c0.44-0.96,0.73-2.01,0.84-3.1H19.93z M16.83,18.36l1.01,1.74 c0.87-0.63,1.64-1.4,2.27-2.27l-1.74-1.01C17.92,17.41,17.41,17.92,16.83,18.36z M7.17,5.64L6.17,3.89 C5.29,4.53,4.53,5.29,3.9,6.17l1.74,1.01C6.08,6.59,6.59,6.08,7.17,5.64z M5.64,16.83L3.9,17.83c0.63,0.87,1.4,1.64,2.27,2.27 l1.01-1.74C6.59,17.92,6.08,17.41,5.64,16.83z M13,7h-2v5.41l4.29,4.29l1.41-1.41L13,11.59V7z"
                  ></path>
                </g>
              </svg>
              <div class="ds-stack ds-stack-16 grow wrap-break-word">
                <h3 class="ds-heading-03-reg">Developer Experience</h3>
                <p>
                  Code ist übersichtlicher und einfacher zu warten.
                  Neuentwicklungen können schneller umgesetzt werden.
                </p>
              </div>
            </div>
          </li>
          <li class="pb-40">
            <div class="flex scroll-my-40 flex-col gap-32 md:flex-row">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                aria-hidden="true"
                focusable="false"
                class="hidden size-80 fill-blue-500 sm:block"
              >
                <g>
                  <rect fill="none" height="24" width="24"></rect>
                </g>
                <g>
                  <path
                    d="M4,7h16v2H4V7z M4,13h16v-2H4V13z M4,17h7v-2H4V17z M4,21h7v-2H4V21z M15.41,18.17L14,16.75l-1.41,1.41L15.41,21L20,16.42 L18.58,15L15.41,18.17z M4,3v2h16V3H4z"
                  ></path>
                </g>
              </svg>
              <div class="ds-stack ds-stack-16 grow wrap-break-word">
                <h3 class="ds-heading-03-reg">Ausfallsicherheit</h3>
                <p>
                  Statisch vorgerenderte Seite: Inhalte sind immer verfügbar,
                  auch wenn Strapi CMS ausfällt.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </main>
</Layout>
