---
import Layout from "@/layouts/BeispieleLayout.astro";
import BeispieleIndexPage from "~/routes/beispiele._index";

export const frontmatter = {
  title: "Beispiele für Digitaltauglichkeit",
};
---

<Layout title={frontmatter.title}>
  <main>
    <BeispieleIndexPage client:load />
  </main>
</Layout>
