---
import twMerge from "@/utils/tailwindMerge";

interface Props {
  class?: string;
  separator?: boolean;
}

const { class: className, separator } = Astro.props;
---

<section>
  <slot name="heading" />
  <div
    class={twMerge(
      "mt-32",
      separator
        ? "space-y-32 *:border-0 *:border-b-2 *:border-solid *:border-gray-400 *:pb-40 *:last:border-none *:last:pb-0"
        : "space-y-48",
      className,
    )}
  >
    <slot />
  </div>
</section>
