<div class="overflow-hidden rounded-lg">
  <div class="bg-de-blue-300 px-20 pt-40 sm:px-96 sm:pt-44">
    <div
      class="&_img:object-cover &_img:object-top h-0 overflow-hidden pb-[40%] shadow-2xl"
    >
      <slot name="image" />
    </div>
  </div>
  <slot />
</div>
