---
import SitemapListRecursive from "@/components/SitemapList.astro";
import type { Route } from "@/config/routes";

type RouteWithChildren = Route & { children: RouteWithChildren[] };

interface Props {
  routes: RouteWithChildren[];
}

const { routes } = Astro.props;
---

<ul
  class="list-unstyled [&_li>ul]:ml-8 [&_li>ul]:border-l [&_li>ul]:border-gray-400 [&_li>ul]:pl-8"
>
  {
    routes.map((route) => (
      <li class="mb-4 [&_li]:my-8">
        <a href={route.path} class="text-link hover:underline">
          {route.title}
        </a>
        {route.children.length > 0 && (
          <SitemapListRecursive routes={route.children} />
        )}
      </li>
    ))
  }
</ul>
