---
import LaenderLayout from "@/layouts/LaenderLayout.astro";
import Timeline from "~/components/Timeline";
import NumberedList from "~/components/NumberedList";
import { Image } from "astro:assets";
import hessenLogo from "./_assets/HESSEN_Logo_stacked.png";
import Heading from "~/components/Heading";
import { methoden } from "@/config/routes";

export const frontmatter = {
  title: "Hessen",
  isStagingOnly: true,
};
---

<LaenderLayout title={frontmatter.title}>
  <p slot="subtitle">
    Herzlich Willkommen beim Digitalcheck für das Land Hessen. Auf dieser Seite
    finden Sie nützliche Informationen und Hilfestellungen für eine
    digitaltaugliche Gestaltung Ihrer Rechtsnormen.
  </p>
  <div slot="intro" class="space-y-16">
    <h2>Überblick</h2>
    <p>
      Gesetze, Rechtsverordnungen und Förderrichtlinien sind in Hessen so zu
      gestalten, dass der spätere Vollzug möglichst einfach und wirtschaftlich
      erfolgen kann. Digitale Fachverfahren und eine medienbruchfreie digitale
      Abwicklung von Prozessen können dazu in vielen Fällen einen wertvollen
      Beitrag leisten und Bürgerinnen und Bürger, Unternehmen und staatliche
      Stellen entlasten. § 18 HEGovG bündelt dieses im Koalitionsvertrag
      niedergelegte Ziel in Form einer gesetzlichen Verpflichtung.
    </p>
  </div>
  <section class="space-y-40 py-80">
    <div class="flex items-center gap-48 pb-40">
      <Image src={hessenLogo} alt="Logo von Hessen" class="h-auto w-[136px]" />
      <p>
        Der Digitalcheck des Landes ist ein Werkzeug, das Sie bei der
        Erarbeitung eines digitaltauglichen Regelungsvorhaben unterstützt.
        Anstelle einer abstrakten Checkliste erhalten Sie eine interaktive
        Schritt - für - Schritt - Unterstützung für die Visualisierung,
        Einschätzung, Gestaltung und Dokumentation ihres Regelungsvorhabens.
      </p>
    </div>
    <div>
      <h2>Wie läuft der Prozess ab?</h2>
      <div>
        <NumberedList>
          <NumberedList.Item>
            <p class="ds-heading-03-reg">Vorprüfung durchführen</p>
            <p>
              Starten Sie die zunächst die <b>Vorprüfung</b>, um herauszufinden,
              ob bei Ihrem Regelungsvorhaben überhaupt ein Digitalbezug oder
              eine Anforderung an die EU-Interoperabilität besteht.
            </p>
          </NumberedList.Item>
          <hr class="kern-divider border-blue-300" aria-hidden="true" />
          <NumberedList.Item>
            <p class="ds-heading-03-reg">Ihr Ergebnis der Vorprüfung</p>
            <p><b>Bei keinem Digitalbezug:</b></p>
            <p>
              Besteht kein Digitalbezug und keine Anforderung an die
              EU-Interoperabilität, ist der Digitalcheck für Sie bereits
              abgeschlossen. Laden Sie hierzu die Dokumentation für interne
              Rückfragen herunter und nehmen Sie diese zu den Akten.
            </p>
            <br />
            <p><b>Bei vorhandenen Digitalbezug:</b></p>
            <p>
              Besteht ein Digitalbezug oder eine Anforderung an
              EU-Interoperabilität, folgen Sie dem Digitalcheck mit <a
                href={methoden.path}
                >Schritt 2 (Erarbeitung des Regelungsvorhabens)</a
              >. Hier finden Sie weitere Hilfestellungen wie Anleitungen zur
              Visualisierung und die fünf grundlegenden Prinzipien des
              Digitalchecks.
            </p>
          </NumberedList.Item>
          <hr class="kern-divider border-blue-300" aria-hidden="true" />
          <NumberedList.Item>
            <p class="ds-heading-03-reg">Regelung schreiben</p>
            <p>
              Verfassen Sie Ihren <b>Normtext</b> unter Berücksichtigung der <u
                >hier zur Verfügung gestellten Hilfestellungen</u
              >.
            </p>
          </NumberedList.Item>
          <hr class="kern-divider border-blue-300" aria-hidden="true" />
          <NumberedList.Item>
            <p class="ds-heading-03-reg">Dokumentieren</p>
            <p>
              Dokumentieren Sie, auf welche Aspekte der Digitaltauglichkeit Sie
              besonders geachtet haben. Sie werden durch diesen Prozess geführt.
              Das Ergebnis können Sie herunterladen oder wahlweise eine
              Word-Vorlage nutzen. Die Dokumentation hilft Ihnen zum Beispiel
              beim <a
                href="https://map.intern.hessen.de/irj/go/hessen/startseite/fachinformationen/recht/normgebung-und-pruumlfung/vorschriftencontrolling?area=Land-Hessen"
                target="_blank"
                >Ausfüllen der Prüfliste zur Begleitenden Vorschriftenkontrolle</a
              > der AVV (Arbeitsgruppe Verwaltungsvereinfachung).
            </p>
          </NumberedList.Item>
        </NumberedList>
      </div>
    </div>
  </section><section class="breakout bg-blue-300 px-80 py-40">
    <div class="px-80 py-40">
      <h2>Links und Ansprechpartner von A - Z</h2>
      <p>
        Nachfolgend finden Sie einige nützliche Links und Ansprechpartner, die
        Sie im Prozess nicht unbedingt benötigen, hier aber bei Bedarf einmal
        aufgelistet zur Verfügung haben.
      </p>
      <div>
        <a
          href="https://map.intern.hessen.de/irj/go/hessen/startseite/fachinformationen/recht/normgebung-und-pruumlfung/vorschriftencontrolling?area=Land-Hessen"
          target="_blank">Arbeitsgruppe Verwaltungsvereinfachung (Dokumente)</a
        ><br />
        <a
          href="https://map.intern.hessen.de/irj/go/hessen/startseite/fachinformationen/recht/hessen-norm/egesetz/konzept-und-arbeitshilfen"
          target="_blank">eGesetz Hessen (Konzept und Arbeitshilfen)</a
        ><br />
        <a
          href="https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=CELEX%3A32024R0903"
          target="_blank">Europäische Interoperabilitätsverordnung</a
        ><br />
        <a href="https://fimportal.de/" target="_blank">FIM Portal</a><br />
        <a href="https://datenschutz.hessen.de/" target="_blank"
          >Hessischer Beauftragter für Datenschutz und Informationsfreiheit</a
        ><br />
        <a
          href="https://www.rv.hessenrecht.hessen.de/bshe/document/jlr-NNLHE000053F5NN00000000029"
          target="_blank">Hessisches E-Government-Gesetz (§ 18)</a
        ><br />
        <a
          href="https://hessen.de/sites/hessen.hessen.de/files/2024-01/koalitionsvertrag_fuer_die_21._legislaturperiode.pdf"
          target="_blank">Hessischer Koalitionsvertrag 2024 – 2029 (Auszug)</a
        ><br />
        <a href="https://interoperable-europe.ec.europa.eu/" target="_blank"
          >Interoperable Europe Portal</a
        ><br />
        <a
          href="https://informationsplattform.ozg-umsetzung.de/iNG/app/intro"
          target="_blank">OZG - Informationsplattform</a
        ><br />
        <a href="https://zfl.bund.de/" target="_blank">Zentrum für Legistik</a
        ><br />
      </div>
    </div>
  </section>
  <section class="py-80">
    <h2>Schulungen</h2>
    <p>Schulungsangebote folgen.</p>
  </section>
</LaenderLayout>
