name: Create Unified Test Report

on:
  workflow_call:
    secrets:
      SLACK_WEBHOOK_URL:
        required: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  merge-reports:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci

      - name: Download blob reports from GitHub Actions Artifacts
        uses: actions/download-artifact@v6
        with:
          path: all-blob-reports
          pattern: playwright-*-blob-report-*
          merge-multiple: true

      - name: Merge into HTML Report
        run: npx playwright merge-reports --reporter html ./all-blob-reports

      - name: Upload HTML report
        uses: actions/upload-artifact@v5
        with:
          name: html-report--attempt-${{ github.run_attempt }}
          path: playwright-report
          retention-days: 14

      - name: Create a unique directory for the report
        run: |
          mkdir -p _site/${{ github.run_id }}
          mv playwright-report/* _site/${{ github.run_id }}/

      - name: Upload artifact for Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: _site
          retention-days: 14

      - name: Deploy to GitHub Pages
        id: github-pages-deployment
        uses: actions/deploy-pages@v4

      - name: Output github pages URL to summary
        run: |
          echo "### Playwright Test Report" >> $GITHUB_STEP_SUMMARY
          echo "${{ steps.github-pages-deployment.outputs.page_url }}${{ github.run_id }}/" >> $GITHUB_STEP_SUMMARY

      - name: Send failure to Slack
        uses: digitalservicebund/notify-on-failure-gha@814d0c4b2ad6a3443e89c991f8657b10126510bf # v1.5.0
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
