name: Deploy

on:
  workflow_call:
    inputs:
      environment_name:
        required: true
        type: string
        description: "Environment to deploy to (production or staging)"
      environment_url:
        required: true
        type: string
        description: "Environment URL"
    secrets:
      GITOPS_DIGITALCHECK_APP_ID:
        required: true
      GITOPS_DIGITALCHECK_APP_PRIVATE_KEY:
        required: true
      ARGOCD_PIPELINE_PASSWORD:
        required: true
      ARGOCD_SERVER:
        required: true
      METRICS_DEPLOYMENT_WEBHOOK_URL:
        required: true
      METRICS_WEBHOOK_TOKEN:
        required: true
      SLACK_WEBHOOK_URL:
        required: true

env:
  PACKAGE_NAME: digitalcheck-dito

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      packages: read
    environment:
      name: ${{ inputs.environment_name }}
      url: ${{ inputs.environment_url }}
    steps:
      - name: Deploy container image
        uses: digitalservicebund/argocd-deploy@faa88406a1d6afa918aad127b19735c6e54d7fb1
        with:
          environment: "${{ inputs.environment_name }}"
          version: ${{ github.sha }}
          deploying_repo: ${{ env.PACKAGE_NAME }}
          infra_repo: ${{ github.event.repository.name }}-infra
          github_app_id: ${{ secrets.GITOPS_DIGITALCHECK_APP_ID }}
          github_app_private_key: ${{ secrets.GITOPS_DIGITALCHECK_APP_PRIVATE_KEY }}
          app: "${{ env.PACKAGE_NAME }}-${{ inputs.environment_name }}"
          argocd_pipeline_password: ${{ secrets.ARGOCD_PIPELINE_PASSWORD }}
          argocd_server: ${{ secrets.ARGOCD_SERVER }}
          argocd_sync_timeout: 420

      - name: Report Deployment
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a # v1.1.0
        with:
          project: ${{ env.PACKAGE_NAME }}
          environment: ${{ inputs.environment_name }}
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}

      - name: Send failure to Slack
        uses: digitalservicebund/notify-on-failure-gha@814d0c4b2ad6a3443e89c991f8657b10126510bf # v1.5.0
        if: failure()
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
