---
import { progress } from "~/resources/content/progress";

const { pathname } = Astro.url;
---

<nav
  class="relative container mt-8 mb-16 flex justify-center"
  aria-label={progress.ariaLabel}
>
  <div
    aria-hidden="true"
    class="absolute top-[calc(anchor(--progress-start_center)-1px)] right-[anchor(--progress-end_center)] left-[anchor(--progress-start_center)] -z-10 h-[2px] bg-blue-500"
  >
  </div>
  <ol
    class="list-unstyled container flex w-full list-none justify-between gap-20 px-8 sm:gap-40 sm:px-14"
  >
    {
      progress.items.map((item, index) => {
        const isActive = pathname.startsWith(item.prefix);
        const isFirst = index === 0;
        const isLast = index === progress.items.length - 1;
        return (
          <li
            aria-current={isActive ? "step" : undefined}
            class:list={[
              "ds-label-02-reg mb-0 flex flex-col items-center gap-8 py-14",
              { "font-bold": isActive },
            ]}
          >
            <span
              class:list={[
                "ds-label-02-bold mr-8 flex h-24 w-24 items-center justify-center rounded-full border-2 border-blue-800",
                { "[anchor-name:--progress-start]": isFirst },
                { "[anchor-name:--progress-end]": isLast },
                isActive ? "bg-blue-800 text-white" : "bg-white text-blue-800",
              ]}
            >
              {index + 1}
            </span>
            <span class="hidden md:block">{item.label}</span>
            <span class="md:hidden">{item.labelShort}</span>
          </li>
        );
      })
    }
  </ol>
</nav>
